<div class="container">
    <!--this is the code that explains bout the project Residence allocation system-->
    <p class="card-text">
        This is a system that helps students to find accomodation resources rather than going through agents who demand for a fee. House owners can post their houses or available for rent with their description,location and price, then students can use the system
        to search for available houses/hostels by price or location and be able to contact the house owner directly and make a deal directly.
    </p>
</div>
<app-footer></app-footer>