<div class="container">
    <div class="page-header">
        <h4>Thank you for picking us</h4>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <img src="../assets/house.jpg" alt="Avatar" class="img-responsive  img-fluid">

        </div>

        <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">

            <div class="form-group">
                <label for="location">Location</label>
                <input type="text" class="form-control" id="location" readonly>
            </div>
            <div class="form-group">
                <label for="pwd">Price </label>
                <input type="password" class="form-control" id="pwd" readonly>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <a href="tel:0712724949">
                <i class="material-icons">call</i>
                <p>Call owner now</p>
            </a>
        </div>
        <div class="col-xs-12 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
            <a href="tel:0712724949">
                <i class="material-icons">comment</i>
                <p>Send SMS</p>
            </a>
        </div>
    </div>
</div>