textarea {
    margin-top: 20px;
}

label {
    padding-top: 50px;
    vertical-align: top;
    text-align: left;
}

.form-rounded {
    border-radius: 1rem;
}

.container {
    padding-right: 20%;
    padding-left: 20%;
    margin-right: auto;
    margin-left: auto;
}